/* 🌐 Page Layout */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  /* background: var(--primary); */
  padding: 25px 10px;
}
 
/* Page */
/* .PriceList-page {
  padding: 20px 10px;
} */
 
.PriceList-container {
  display: flex;
  justify-content: center;
}
 
/* Title */
.PriceList-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 5px;
}
 
/* Layout */
.PriceList-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  width: 70%;
}
 
/* Table Title */
.PriceList-table-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
 
/* Table */
.PriceList-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--border);
}
 
.PriceList-table th {
 background: var(--bg-muted);
  color: #fff;
  padding: 12px;
  text-align: center;
  border: 1px solid var(--border);
}
 
.PriceList-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid var(--border);
}
 
/* .PriceList-table th,
.PriceList-table td {
  text-align: center;
} */
 
/* .PriceList-table tr:hover {
  background: var(--primary);
} */
 
.PriceList-active-row {
  background: var(--primary);
}
 
/* Form */
.PriceList-form-group {
  margin-bottom: 15px;
}
 
.PriceList-form-group label {
  display: block;
  margin-bottom: 5px;
}
 
.PriceList-form-group input {
  width: 70%;
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid var(--border);
}
 
/* Checkbox */
.PriceList-checkbox {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}
 
/* 🔥 BUTTONS FIXED (RIGHT + BOTTOM) */
.PriceList-btn-group {
  display: flex;
  justify-content: flex-end;   /* 👉 right align */
  align-items: flex-end;
  gap: 10px;
  margin-top: 30px;
}
 
/* Buttons */
.PriceList-btn {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}
 
.PriceList-btn-new {
background: var(--primary-dark);
}
 
.PriceList-btn-save {
  background: var(--primary); color: white;
}
 
.PriceList-btn-close {
  background: var(--danger); color: white;
}
 
/* Header with New button */
.PriceList-table-header {
  display: flex;
  justify-content: space-between; /* 🔥 left + right */
  align-items: center;
  margin-bottom: 15px;
}
/* Modal overlay */
.PriceList-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
 
/* 🔥 MODAL BOX FIX */
.PriceList-modal-box {
  /* background: #fff; */
   background: #ffffffcc;
  padding: 25px;
  border-radius: 10px;
  width: 350px;
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;  /* 👉 push buttons bottom */
}
 
/* 🔥 MODAL BUTTONS RIGHT + BOTTOM */
.PriceList-modal-btn-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: auto;   /* 👉 bottom stick */
}

 